*.o
*.so
NAMESPACE
*.m
*.bib
Makefile
src/FEAST/*.md
src/FEAST/FSToolboxMex.c
src/MIToolbox/*.md
src/MIToolbox/demonstration_algorithms
src/MIToolbox/MIToolbox*
src/MIToolbox/Renyi*
src/MIToolbox/Weighted*
